<!-- Para tables y laptops. -->
<div class="hide-on-small-only">
    <div class="card grey darken-2 white-text">
        <div class="card-action grey darken-3" style="margin:5px;">
            <h5>Perfil</h5>
        </div>
        <div class="card-image blue ">
            <img class="responsive-img " src="http://www.legislaturajujuy.gov.ar/img/diputados/{{model.fotografia}}" />
        </div>
        <div class="card-action green">
            <h5 class="card-title green ">{{model.nombre}}</h5>
        </div>
        <div class="card-action grey darken-1 ">{{model.periodo}}</div>
        <div class="card-action grey darken-2 ">
            <center>
                <img src="http://www.legislaturajujuy.gov.ar/img/bloques/{{model.logo}}" class="circle " style="width:64px " />
                <br/>
                <h5>{{model.bloque}}</h5>
            </center>
        </div>
    </div>
    <div class="card grey darken-2 white-text">
        <div class="card-action grey darken-3" style="margin:5px;">
            <h5>Comisiones</h5>
        </div>
        <div class="card-content">
            <ul>
                <li ng-repeat="c in model.comisiones">
                    {{c.cargo}} DE {{c.comision}}
                    <hr/>
                </li>
            </ul>
        </div>
    </div>
    <div class="card grey darken-2 white-text">
        <div class="card-action grey darken-3" style="margin:5px;">
            <h5>Contacto</h5>
        </div>
        <div class="card-content">
            <ul>
                <li class="collection-item" ng-show="model.email">
                    <a class="white-text left-align valign-wrapper" href="mailto:{{model.email}}">
                        <i class="small material-icons">email</i><span class="truncate">{{model.email}}</span>
                    </a>
                    <hr/>
                </li>
                <li class="collection-item" ng-show="model.telefono">
                    <a class="white-text left-align valign-wrapper" href="tel:388{{model.telefono}}">
                        <i class="small material-icons">phone</i><span class="truncate">388{{model.telefono}}</span>
                    </a>
                    <hr/>
                </li>
                <li class="collection-item" ng-show="model.paginaweb">
                    <a class="white-text left-align valign-wrapper" href="{{model.paginaweb}}" target="__blank">
                        <i class="small material-icons">web</i><span class="truncate">{{model.paginaweb}}</span>
                    </a>
                    <hr/>
                </li>
                <li class="collection-item" ng-show="model.facebook">
                    <a class="white-text left-align valign-wrapper" href="{{model.facebook}}" target="__blank">
                        <i class="small material-icons">person_pin</i><span class="truncate">{{model.facebook}}</span>
                    </a>
                    <hr/>
                </li>
                <li class="collection-item" ng-show="model.twittter">
                    <a class="white-text left-align valign-wrapper" href="{{model.twitter}}" target="__blank">
                        <i class="small material-icons">person_pin</i><span class="truncate">{{model.twitter}}</span>
                    </a>
                    <hr/>
                </li>
                <li class="collection-item" ng-show="model.youtube">
                    <a class="white-text left-align valign-wrapper" href="{{model.youtube}}" target="__blank">
                        <i class="small material-icons">video_library</i><span class="truncate">{{model.youtube}}</span>
                    </a>
                    <hr/>
                </li>
            </ul>
 
        </div>
    </div>
</div>