<!-- Para tables y laptops. -->
<div class="hide-on-small-only">
    <div id="sidecard " class="card grey darken-2 white-text">
        <div class="card-image blue ">
            <img class="responsive-img " src="http://www.legislaturajujuy.gov.ar/img/diputados/{{model.fotografia}}" />
            <h5 class="card-title green ">{{model.nombre}}</h5>
        </div>
        <div class="card-action grey darken-1 ">{{model.periodo}}</div>
        <div class="card-action grey darken-2 ">
            <center>
                <img src="http://www.legislaturajujuy.gov.ar/img/bloques/{{model.logo}}" class="circle " style="width:64px " />
                <br/>
                <h5>{{model.bloque}}</h5>
            </center>
        </div>
    </div>
    <div id="sidecomisiones" class="card grey darken-2 white-text">
        <div class="card-action grey darken-3" style="margin:15px;">
            <h5>Comisiones que Integra</h5>
        </div>
        <div class="card-content ">
            <ul>
                <li ng-repeat="c in model.comisiones">{{c.cargo}} DE {{c.comision}}
                    <hr>
                </li>
            </ul>
        </div>
    </div>
    <div id="sidecontacto" class="card grey darken-2 white-text">
        <div class="card-action grey darken-2 " ng-show="model.email">
            <a class="white-text left-align " href="mailto:{{model.email}}" style="text-transform:lowercase;">
                <i class="small material-icons ">email</i>
                <br/> {{model.email}}
            </a>
        </div>
        <div class="card-action grey darken-2 " ng-show="model.telefono">
            <a class="white-text left-align ">
                <i class="small material-icons ">phone</i>
                <br/> +54 388 {{model.telefono}}
            </a>
        </div>
        <div class="card-action grey darken-2 " ng-show="model.paginaweb">
            <a class="white-text left-align " href="{{model.paginaweb}}" target="_blank " style="text-transform:lowercase;">
                <i class="small material-icons ">web</i>
                <br/> {{model.paginaweb}}
            </a>
        </div>
        <div class="card-action grey darken-2 " ng-show="model.facebook">
            <a class="white-text left-align " href="{{model.facebook}}" target="_blank " style="text-transform:lowercase;">
                <i class="small material-icons ">person_pin</i>
                <br/> {{model.facebook}}
            </a>
        </div>
        <div class="card-action grey darken-2 " ng-show="model.twittter">
            <a class="white-text left-align " href="{{model.twitter}}" target="_blank " style="text-transform:lowercase;">
                <i class="small material-icons ">person_pin</i>
                <br/> {{model.twitter}}
            </a>
        </div>
        <div class="card-action grey darken-2 " ng-show="model.youtube">
            <a class="white-text left-align " href="{{model.youtube}}" target="_blank " style="text-transform:lowercase;">
                <i class="small material-icons ">video_library</i>
                <br/> {{model.youtube}}
            </a>
        </div>
    </div>
</div>