<table class="table bordered striped centered">
	<tr>
		<td></td>
		<td>
			<strong>Fotograía</strong>
		</td>
		<td>
			<strong>Diputado</strong>
		</td>
		<td>
			<strong>Bloque</strong>
		</td>
	</tr>
	<tr ng-repeat="d in diputados">
		<td>
		</td>
		<td>
			<a href="#/{{d.uriname}}">
				<img src="/imgcdn/diputados/{{d.fotografia}}" width="100">
			</a>
		</td>
		<td>
			<strong>
				<a href="#/{{d.uriname}}">
					{{d.nombre}}
				</a>
			</strong>
			<br>
			<strong>
				{{d.mandato}}
			</strong>
			<br>
			{{d.email}}
		</td>
		<td>
			<img src="/imgcdn/bloques/{{d.logo}}" width="50">
			<br/>
			{{d.bloque}}<br>
		</td>
	</tr>
</table>