	<nav class="grey ligthen-4" ng-controller="diputado">
	  	<div class="nav-wrapper">
	  		<ul class="right">
	  			<li>
	  				<a href="#/{{diputado.uriname}}">
	  					<i class="material-icons left">
	  						home
	  					</i>
	  					Inicio
	  				</a>
	  			</li>
	  			<li>
	  				<a href="#/{{diputado.uriname}}/proyectos">
	  					<i class="material-icons left">
	  						library_books
	  					</i>
	  					Proyectos
	  				</a>
	  			</li>
	  			<li>
	  				<a href="#/{{diputado.uriname}}/fotografias">
	  					<i class="material-icons left">
	  						photo_library
	  					</i>
	  					Fotografias
	  				</a>
	  			</li>
	  			<li>
	  				<a href="#/{{diputado.uriname}}/videos">
	  					<i class="material-icons left">
	  						video_library
	  					</i>
	  					Videos
	  				</a>
	  			</li>
	  		</ul>
	  	</div>
	</nav>