<!-- Menu local para smartphones solamente. -->
<nav ng-controller="diputado" class="grey ligthen-4 hide-on-med-and-up center">
  	<div class="nav-wrapper">
  		<ul>
  			<li>
  				<a href="#/{{diputado.uriname}}">
  					<i class="material-icons">
  						home
  					</i>
  				</a>
  			</li>
  			<li>
  				<a href="#/{{diputado.uriname}}/proyectos">
  					<i class="material-icons">
  						library_books
  					</i>
  				</a>
  			</li>
  			<li ng-show="fkr">
  				<a href="#/{{diputado.uriname}}/fotografias">
  					<i class="material-icons">
  						photo_library
  					</i>
  				</a>
  			</li>
  			<li ng-show="yt">
  				<a href="#/{{diputado.uriname}}/videos">
  					<i class="material-icons">
  						video_library
  					</i>
  				</a>
  			</li>
  		</ul>
  	</div>
</nav>

<!-- Menu local para tablets y laptops -->
<nav class="grey ligthen-4 hide-on-small-only" ng-controller="diputado">
  	<div class="nav-wrapper">
  		<ul class="right">
  			<li>
  				<a href="#/{{diputado.uriname}}">
  					<i class="material-icons left">
  						home
  					</i>
  					Inicio
  				</a>
  			</li>
  			<li>
  				<a href="#/{{diputado.uriname}}/proyectos">
  					<i class="material-icons left">
  						library_books
  					</i>
  					Proyectos
  				</a>
  			</li>
  			<li ng-show="fkr">
  				<a href="#/{{diputado.uriname}}/fotografias">
  					<i class="material-icons left">
  						photo_library
  					</i>
  					Fotografias
  				</a>
  			</li>
  			<li ng-show="yt">
  				<a href="#/{{diputado.uriname}}/videos">
  					<i class="material-icons left">
  						video_library
  					</i>
  					Videos
  				</a>
  			</li>
  		</ul>
  	</div>
</nav>