<div>
	<h3 class="blue-text text-darken-4">
		<strong>
			Partes
		</strong>
		<small class="grey-text text-darken-2">
			de prensa
		</small>
	</h3>

	<br/>
	<br/>

	<table class="table bordered stripped highlight centered">
		<tr class="teal darken-1 white-text">
			<td>
				<strong>
					TITULO
				</strong>
			</td>
			<td>
				<strong>
					RESUMEN
				</strong>
			</td>
			<td>
				<strong>
					FECHA
				</strong>
			</td>
			<td>
				<strong>
					ACCIONES				
				</strong>
			</td>
		</tr>

		<tr ng-repeat="p in partes">
			<td>
				<strong>
					{{p.titulo}}
				</strong>
			</td>
			<td>
				{{p.cabeza}}
			</td>
			<td>
				{{p.fecha}} {{p.hora}}
			</td>
			<td>
				
				<a class="btn-floating" target="__black" ng-click="leer(p.id)">
					<i class="material-icons white-text">
						open_in_browser
					</i>
				</a>
				
				<a class="btn-floating" target="__black" ng-click="imprimir(p.id)">
					<i class="material-icons white-text">
						print
					</i>
				</a>

			</td>
		</tr>
	</table>


	<iframe id="imprimirView" src="blank.html" style="display:none;"></iframe>

	<br/>
	<br/>
	<br/>
</div>