<style>
    .btn-pro-pag-width{
        width: 10px !important;
    }
    .btn-pro-width{
        width: 40px;
        height: 40px;
        padding: 0px;
        text-align: center;
    }
    .btn-pro-circle{
        position: relative;
        top: 5px;
        margin: 5px;
        border-radius: 50%;
    }
    .btn-pro-icon{
        position: relative;
        top: -12px;
        left: -10px;
    }
    .btn-pro-a{
        position: relative;
        top: -12px;
        left: 0px;
        font-weight: bold;
    }
    .btn-pro-imputs-groups-ini{
        height: 40px; 
        padding: 0;
        text-align: center;
        position: relative;
        top: 12px;
        border-radius: 50% 0% 0% 50%; 
    }
    .btn-pro-imputs-groups-fields{
        width: 60px;
        height: 40px;
        padding: 0;
        text-align: center;
        position: relative;
        top: 12px;
    }
    .btn-pro-imputs-groups-title{
        height: 40px;
        padding: 0;
        text-align: center;
        position: relative;
        top: 12px;
    }
    .btn-pro-imputs-groups-placeholder{
        font-weight: bold;
        margin: 5px;
        position:relative;
        top:-10px;
    }
    .btn-pro-imputs-groups-input{
        color:#000;
        background-color:#fff !important;
        width: 50px !important;
        height: 26px !important;
        position: relative;
        top: -12px;
        text-align: center !important;
        text-transform: uppercase !important;
    }
    .btn-pro-imputs-groups-end{
        width: 40px;
        height: 40px; 
        padding: 0;
        text-align: center;
        position: relative;
        top: 12px;
        border-radius: 0% 50% 50% 0%; 
    }
</style>
<!-- Show Spinner -->
<div ng-show="spinner">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="center-align">En unos instantes se cargará el contenido...</div>
</div>

<div class="row">

    <!-- Paginador para smartphones -->
    <!--nav class="grey lighten-2 hide-on-med-and-up">
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <h5 style="color:#00897b;">
                        Proyectos <span style="text-transform:capitalize;">{{tipo}}</span>
                    </h5>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="grey lighten-2 hide-on-med-and-up">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="btn-pro-pag-width">
                    <!--a href="#/{{uriname}}/proyectos/{{tipo}}/1/10/0" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Primera página.">
                    <a ng-click="getProyectos()" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Primera página.">
                        <i class="material-icons">
                            skip_previous
                        </i>
                    </a>
                </li>
                <li class="btn-pro-pag-width">
                    <!--a href="#/{{uriname}}/proyectos/{{tipo}}/{{prev}}/10" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Anterior página.">
                    <a ng-click="getProyectos()" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Anterior página.">
                        <i class="material-icons">
                            fast_rewind
                        </i>
                    </a>
                </li>
                <li class="grey-text text-darken-2">
                    {{ini}}/{{endF}}
                </li>
                <li class="btn-pro-pag-width">
                    <!--a href="#/{{uriname}}/proyectos/{{tipo}}/{{sig}}/10" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Siguiente página.">
                    <a ng-click="getProyectos()" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Siguiente página.">
                        <i class="material-icons">
                            fast_forward
                        </i>
                    </a>
                </li>
                <li class="btn-pro-pag-width">
                    <!--a href="#/{{uriname}}/proyectos/{{tipo}}/{{endF}}/10" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Ultima página.">
                    <a ng-click="getProyectos()" class="grey-text text-darken-2" tooltipped data-position="top" data-delay="500" data-tooltip="Ultima página.">
                        <i class="material-icons">
                            skip_next
                        </i>
                    </a>
                </li>				
            </ul>
        </div>
    </nav-->

    <!-- Proyectos para smarphones
    <div ng-hide="spinner" class="col s12 m12 l6 hide-on-med-and-up" ng-repeat="p in proyectos">

        <div class="card white darken-2 hoverable">

            <div class="card-action grey lighten-2 grey-text text-darken-1 right-align">
                <br/>
                <span style="font-size:1.2em;font-weight:bolder;text-transform:uppercase;">{{p.expediente}}</span>
                <br/>
                <span style="font-size:0.9em;font-weight:bolder;font-style:italic;">{{p.tipo}}</span>
                <br/>
                <span style="font-size:0.6em;">[ {{p.fecha}} ]</span>
            </div>

            <div class="card-action black-text">
                {{p.proyecto}}
            </div>

            <div class="card-action blue-text text-darken-2 valign-wrapper" style="cursor:pointer;">

                <a href="/detalle_proyecto.php?p={{p.id}}" class="btn-floating" target="__black">
                    <i class="material-icons white-text">
								open_in_browser
							</i>
                </a>

                <a href="/img/sesiones/ftp/{{p.id}}/{{p.id}}.pdf" class="btn-floating" target="__black">
                    <i class="material-icons white-text">
								description
							</i>
                </a>

            </div>

        </div>
    </div-->

    <!-- tablets y laptops -->
    <!-- Titulo -->
    <nav class="grey lighten-2 hide-on-small-only">
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <h5 style="color:#00897b;">
                        Proyectos <span style="text-transform:capitalize;">{{tipo}}</span>
                    </h5>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Herramientas -->
    <nav class="grey lighten-2 hide-on-small-only">
        <div class="nav-wrapper">
            <ul class="left">
                <li ng-click="primero()" class="waves-effect" tooltipped data-position="top" data-delay="500" data-tooltip="Primera página.">
                    <a class="grey-text text-darken-2">
                        <i class="material-icons">
                            skip_previous
                        </i>
                    </a>
                </li>
                <li ng-click="anterior()" class="waves-effect" tooltipped data-position="top" data-delay="500" data-tooltip="Anterior página.">
                    <a class="grey-text text-darken-2">
                        <i class="material-icons">
                            fast_rewind
                        </i>
                    </a>
                </li>
                <li class="waves-effect">
                        <a class="grey-text text-darken-2">
                            {{actualInt}}/{{ultimoInt}}
                        </a>
                    </li>
                <li ng-click="siguiente()" class="waves-effect" tooltipped data-position="top" data-delay="500" data-tooltip="Siguiente página.">
                    <a class="grey-text text-darken-2">
                        <i class="material-icons">
                            fast_forward
                        </i>
                    </a>
                </li>
                <li ng-click="ultimo()" class="waves-effect" tooltipped data-position="top" data-delay="500" data-tooltip="Ultima página.">
                    <a class="grey-text text-darken-2">
                        <i class="material-icons">
                            skip_next
                        </i>
                    </a>
                </li>
                <li class="waves-effect">
                    <nav class="grey lighten-2">
                        <ul class="left">
                            <li class="teal lighten-1 btn-pro-imputs-groups-ini">
                                <span class="btn-pro-imputs-groups-placeholder">
                                    NRO
                                </span>
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-fields" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Número.">
                                <input id="numero" class="btn-pro-imputs-groups-input" type="number" min="0" max="9999">
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-title">
                                <span class="btn-pro-imputs-groups-placeholder">
                                    LETRA
                                </span>
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-fields" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Letra.">
                                <input id="letra" class="btn-pro-imputs-groups-input" type="text" maxlength="3">
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-title">
                                <span class="btn-pro-imputs-groups-placeholder">
                                    KEYWORD
                                </span>
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-fields">
                                <input id="keyword" class="btn-pro-imputs-groups-input" type="text" maxlength="10" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Palabra clave.">
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-title">
                                <span class="btn-pro-imputs-groups-placeholder">
                                    AÑO
                                </span>
                            </li>
                            <li class="teal lighten-1 btn-pro-imputs-groups-fields">
                                <input id="anio" class="btn-pro-imputs-groups-input" type="number" min="1983" max=""  tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Año.">
                            </li>
                            <li  ng-click="aplicarFiltros()" class="waves-effect teal lighten-1 btn-pro-imputs-groups-end" tooltipped data-position="top" data-delay="500" data-tooltip="Acción: Aplicar filtros.">
                                <a>
                                    <i class="material-icons btn-pro-icon">check_circle</i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </li>
                <li class="teal lighten-1 btn-pro-width btn-pro-circle">
                    <a class="dropdown-button btn-pro-a" dropdown data-activates="filtroForma" data-belowOrigin="true" data-constrainWidth="false" data-hover="true">{{forma}}</a>
                    <ul id="filtroForma" class="dropdown-content">
                        <li ng-click="cambiarForma('T')" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Ver todos los proyectos."          ><a>Todas</a></li>
                        <li ng-click="cambiarForma('L')" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Ver solo proyectos de Ley."        ><a>Leyes</a></li>
                        <li ng-click="cambiarForma('R')" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Ver solo proyectos de Resolución." ><a>Resoluciones</a></li>
                        <li ng-click="cambiarForma('D')" tooltipped data-position="top" data-delay="500" data-tooltip="Filtro: Ver solo proyectos de Declaración."><a>Declaraciones</a></li>
                    </ul>
                </li>
                <li ng-click="cambiarOrden('D')" class="waves-effect teal lighten-1 btn-pro-width btn-pro-circle" tooltipped data-position="top" data-delay="500" data-tooltip="Ordenar: Nuevos primero.">  <a><i class="material-icons btn-pro-icon">keyboard_arrow_down</i></a></li>
                <li ng-click="cambiarOrden('A')" class="waves-effect teal lighten-1 btn-pro-width btn-pro-circle" tooltipped data-position="top" data-delay="500" data-tooltip="Ordenar: Nuevos al último."><a><i class="material-icons btn-pro-icon">keyboard_arrow_up</i></a></li>
                <li ng-click="quitarFiltros()"   class="waves-effect teal lighten-1 btn-pro-width btn-pro-circle" tooltipped data-position="top" data-delay="500" data-tooltip="Quitar filtros.">           <a><i class="material-icons btn-pro-icon">cancel</i></a></li>
            </ul>
        </div>
    </nav>
    <!-- Proyectos -->
    <table ng-hide="spinner" class="table bordered stripped highlight centered hide-on-small-only">
        <tr class="teal darken-1 white-text">
            <td>
                <strong>
							EXPEDIENTE				
						</strong>
            </td>
            <td>
                <strong>
							PROYECTO				
						</strong>
            </td>
            <td>
                <strong>
							TIPO				
						</strong>
            </td>
            <td>
                <strong>
							FECHA				
						</strong>
            </td>
            <td>
                <strong>
							ACCIONES				
						</strong>
            </td>
        </tr>

        <tr ng-repeat="p in proyectos">
            <td>
                <strong>
							{{p.expediente}}
						</strong>
            </td>
            <td>
                {{p.proyecto}}
            </td>
            <td>
                {{p.tipo}}
            </td>
            <td>
                {{p.fecha}}
            </td>
            <td>

                <a href="/detalle_proyecto.php?p={{p.id}}" class="btn-floating" target="__black">
                    <i class="material-icons white-text">
								open_in_browser
							</i>
                </a>
                <a href="/img/sesiones/ftp/{{p.expediente}}/{{p.expediente}}.pdf" class="btn-floating" target="__black">
                    <i class="material-icons white-text">
								description
							</i>
                </a>

            </td>
        </tr>
    </table>

</div>
