<div>
	<h3 class="blue-text text-darken-4">
		<strong>
			Galer&iacute;a
		</strong>
		<small class="grey-text text-darken-2">
			de videos
		</small>
	</h3>

	<br/>
	<br/>

	<!--
	<table class="table bordered stripped highlight centered">
		<tr class="teal darken-1 white-text">
			<td>
				<strong>
					TITULO
				</strong>
			</td>
			<td>
				<strong>
					RESUMEN
				</strong>
			</td>
			<td>
				<strong>
					FECHA
				</strong>
			</td>
			<td>
				<strong>
					ACCIONES				
				</strong>
			</td>
		</tr>

		<tr ng-repeat="p in partes">
			<td>
				<strong>
					{{p.titulo}}
				</strong>
			</td>
			<td>
				{{p.resumen}}
			</td>
			<td>
				{{p.fecha}}
			</td>
			<td>
				
				<a href="/public/detalle_proyecto.php?p={{p.id}}" class="btn-floating" target="__black">
					<i class="material-icons white-text">
						pageview
					</i>
				</a>
				
				<a href="/public/img/sesiones/ftp/{{p.id}}/{{p.id}}.pdf" class="btn-floating" target="__black">
					<i class="material-icons white-text">
						description
					</i>
				</a>

			</td>
		</tr>
	</table>
	-->
	<br/>
	<br/>
	<br/>
</div>